<%= render "shared/header" %>

<% breadcrumb :search_item %>
<%= render "shared/breadcrumbs" %>

<div class="container">
  <div class="search-area">
    <h1>
      詳細検索
    </h1>
    <%= search_form_for @q, url: search_items_path do |f| %>
    
      <div class="category-search">
        <%= f.label :category_id_eq, 'カテゴリー' %>
        <%= f.collection_select :category_id_eq, Category.where.not(id: 1), :id, :name, include_blank: '指定なし' %>
      </div>

      <div class="tag-search">
        <%= f.label :tags_tagname_cont, 'ブランド' %>
        <%= f.search_field :tags_tagname_cont, placeholder: '例）シャネル' %>
      </div>

      <div class="status-search">
        <%= f.label :status_id_in, '状態' %>
        <%= f.collection_check_boxes :status_id_in, Status.where.not(id: 1), :id, :name %>
      </div>
      
      <div class="postage-search">
        <%= f.label :postage_id_in, '配送料' %>
        <%= f.collection_check_boxes :postage_id_in, Postage.where.not(id: 1), :id, :name %>
      </div>

      <div class="price-search">
        <%= f.label :price_lteq, '価格' %>
        <%= f.radio_button :price_lteq, '', { checked: true }  %>
        指定なし
        <%= f.radio_button :price_lteq, '1000' %>
        〜1000円
        <%= f.radio_button :price_lteq, '3000' %>
        〜3000円
        <%= f.radio_button :price_lteq, '5000' %>
        〜5000円
        <%= f.radio_button :price_lteq, '10000' %>
        〜10000円
        <%= f.radio_button :price_lteq, '30000' %>
        〜30000円
        <%= f.radio_button :price_gteq, '30000' %>
        30000円〜
      </div>

      

      <br>
      <div class="search-btn">
        <%= f.submit '検索' %>
      </div>
    <% end %>
  </div>


  <div class="item-area">
    <% if @items.length != 0 %>
      <ul class='item-lists'>
        <% @items.each do |item| %>
          <li class='list'>
            <%= link_to item_path(item.id) do %>
              <div class='item-img-content'>
                <% item.images.first(1).each do |image| %>
                <%= image_tag image, class: "item-img" %>
                <% end %>
                <% if item.order %>
                  <div class='sold-out'>
                    <span>Sold Out!!</span>
                  </div>
                <% end %>
                <div class='item-info'>
                    <h3 class='item-name'>
                      <%= item.name %>
                    </h3>
                    <div class='item-price'>
                      <span><%= item.price %>円<br><%= item.postage.name %></span>
                      <div class='star-btn'>
                        <%= image_tag "star.png", class:"star-icon" %>
                        <span class='star-count'>0</span>
                      </div>
                    </div>
                  </div>
              </div>
            <% end %>
          </li>
        <% end %>
    <% else %>
        該当する商品はありません
      </ul>
    <% end %>
  </div>
</div>


 
<%= render "shared/footer" %>